<h1 class="extralarge">About this app, dawg!</h1>
<p>Gettin' this shit learned, yo!</p>
<p>This right here is a damn good paragraph about what a smart, sexy, and savvy learner/coder/lifer Amber Aultman is. I mean don't you agree?</p>
<p class="button-group">
	<button type="button" class="btn btn-primary btn-large">Yes, I agree whole-heartedly</button>
	<button type="button" class="btn btn-danger btn-large">I'm not so sure</button>
</p>
